<h2>Mis contactos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>EMAIL</th>
            <th>FECHA DE CREACIÓN</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for(contact of contacts; track contact.id){
            <tr>
                <td>{{contact.id}}</td>
                <td>{{contact.nombre}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.createrAt}}</td>
                <td></td>
            </tr>
        }
    </tbody>

</table>
