<h2 class="mb-5 text-center">Nuevo contacto</h2>

<div class="row row-cols-3 justify-content-center" >
    <form action="">
        <div class = "mb-3">
            <label for="name">Nombre</label>
            <input id="name" type="text" placeholder="Nombre" class="form-control">
        </div>
    
        <div class = "mb-3">
            <label for="email">Email</label>
            <input id="email" type="text" placeholder="Email" class="form-control">
        </div>
    
        <div class = "text-end">
            <button class="btn btn-primary ms-2">
                Crear contacto
            </button>
            <button type="button" class="btn btn-light" routerLink="/">
                Cancelar
            </button>
        </div>
    </form>
    
</div>